@charset "utf-8";
@font-face{
  font-family:HangeulR;
  src: url(../font/HangeulNuriR.ttf);
}
body{
  font-family:HangeulR;
  transform:rotate(0.000001deg);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-rendering:optimizeLegibility;
}
#wrap{
  position:relative;
  z-index:0;
}
section{
  position:relative;
  z-index:0;
}
#styleGuide > div{
  width:100%;
  padding:40px;
  background:#fff;
  border-radius:4px;
  margin:0;
  font-size:0;
  position:relative;
  z-index:0;
}
#styleGuide h2{
  font-size:32px;
  font-weight:600;
  margin-bottom:24px;
}
#styleGuide > div > div{
  vertical-align:top;
  padding:40px 16px;
  position:relative;
  z-index:1;
}
h3{
  font-size:24px;
  margin-bottom:24px;
  font-weight:600;
  position:relative;
}
h3:before{
  content:"";
  display:block;
  width:40px;
  height:4px;
  background:#ff9124;
  position:absolute;
  bottom:2px;
  left:0;
  z-index:-1;
}
.style1 ul{
  font-size:0;
}
.style1 li{
  width:calc((100% - 72px)/4);
  height:80px;
  border-radius:4px;
  line-height:80px;
  display:inline-block;
  font-size:16px;
  font-weight:600;
  letter-spacing:0.05em;
  text-align:center;
  color:#fff;
  margin-right:24px;
}
.style1 li:first-child{
  background:#ff9124;
}
.style1 li:nth-child(2){
  background:#73a6d6;
}
.style1 li:nth-child(3){
  background:#333;
  
}
.style1 li:nth-child(4){
  background:#efefef;
  color:#333;
}
.style1 li:nth-child(4n){
  margin-right:0;
}
.style2 li{
  display:inline-block;
  width:calc((100% - 48px)/3);
  margin:0 24px 16px 0;
}
.style2 li:nth-child(3n){
  margin-right:0;
}
.style2 li div{
  width:100%;
  height:96px;
  background:#f7f7f7;
  margin-bottom:16px;
  border-radius:4px;
  text-align:center;
  line-height:96px;
  color:#333;
}
.style2 li p{
  font-size:16px;
  font-weight:600;
  color:#999;
  line-height:1.8em;
}
.style2 li p:nth-child(2){
  color:#73a6d6;
}
.style2 li p span{
  display:inline-block;
  width:50%;
  color:#333;
  float:right;
}
.style3 > div{
  border:1px solid #efefef;
}
.style3 p{
  font-size:16px;
  position:absolute;
}
.style3 > div > div{
  border:0;
  width:100%;
  padding:0 10px;
  position:relative;
}
.style3 > div > div:first-child{
  height:80px;
  border-bottom:1px solid #efefef;
}
.style3 > div > div:nth-child(2){
  width:80%;
  padding:20px 10px;
  margin:0 auto;
  border-right:1px solid #efefef;
  border-left:1px solid #efefef;
  font-size:0;
}
.style3 > div > div:last-child{
  height:80px;
  border-top:1px solid #efefef;
}

.style3 div div div{
  border:1px solid #efefef;
  display:inline-block;
  height:200px;
}
.style3 div div div:nth-child(2){
  width:20%;
  margin-right:2%;
}
.style3 div div div:nth-child(3){
  width:78%;
}
.style3 div div div:nth-child(4){
  width:78%;
  margin-right:2%;
  margin-top:2%;
}
.style3 div div div:nth-child(5){
  width:20%;
}
.header, .footer{
  top:50%;
  left:10px;
  transform:translateY(-50%);
}
.section{
  top:50%;
  left:0;
  transform:translate(-100%, -50%);
  margin-left:-30px;
}
.padding_LR{
  top:50%;
  right:0;
  transform:translate(100%, -50%);
  margin-right:-5px;
}
.padding_TB{
  left:50%;
  top:0;
  transform:translateX(-50%);
}
.margin{
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.style3 ul{
  font-size:16px;
  font-weight:600;
  margin-top:24px;
  line-height:1.8em;
  list-style:square;
}
.style3 li{
  list-style:square;
  margin-left:16px;
}
.style4 ul{
  font-size:0;
}
.style4 li{
  display:inline-block;
  width:calc((100% - 48px)/3);
  margin:0 24px 16px 0;
}
.style4 li:nth-child(3n){
  margin-right:0;
}
.style4 li > div{
  width:100%;
  height:96px;
  background:url(../img/grid.png)no-repeat center/auto;
  position:relative;
  margin-bottom:16px;
}
.style4 li > div div{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.El1 div{
  font-size:16px;
  font-weight:600;
  padding:16px;
  border-radius:4px;
  background:#333;
  color:#fff;
  box-shadow:2px 2px 3px rgba(0,0,0,0.1);
}
.El1 div:after{
  content:'';
  display:block;
  width:10px;
  height:10px;
  background:#333;
  transform:rotate(45deg) translateX(-50%);
  position:absolute;
  top:0;
  left:40%;
}
.El2 div{
  width:80%;
  height:5px;
  border-radius:5px;
  background:#efefef;
}
.El2 div:after{
  content:'';
  display:block;
  width:50%;
  height:5px;
  border-radius:5px;
  background:#ff9124;
  position:absolute;
  top:0;
  left:0;
}
.El3 div{
  width:80%;
}
.El3 input{
  width:100%;
  max-width:280px;
  height:32px;
  border-radius:4px;
  border:1px solid #999;
  text-indent:8px;
  outline:0;
}
.El3 input:focus{
  border:1px solid #ff9124;
}
.style4 p{
  font-size:16px;
  font-weight:600;
}
.El4 button{
  width:96px;
  height:32px;
  border-radius:4px;
  background:#73a6d6;
  color:#fff;
  border:0;
  outline:0;
}
.El5 div{
  width:80%;
}
.El5 a{
  display:inline-block;
  width:100%;
  height:48px;
  padding:0 24px;
  background:#fff;
  line-height:48px;
  font-weight:600;
}
.El5 a:hover{
  background:#efefef;
}
.El5 a i:first-child{
  margin-right:8px;
}
.El5 a i:last-child{
  float:right;
}
.El6 div{
  display: inline-block;
  font-size: 10px;
  padding: 2px 0;
  width: 40px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #72a6d6;
  color: #73a6d6;
  font-weight: 600;
}