<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>MemberController</servlet-name>
    <servlet-class>
        net.member.controller.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberController</servlet-name>
    <url-pattern>*.mb</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardController</servlet-name>
    <servlet-class>
        net.board.controller.BoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>*.bd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompanyController</servlet-name>
    <servlet-class>
        net.company.controller.CompanyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyController</servlet-name>
    <url-pattern>*.cp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindSms</servlet-name>
    <servlet-class>net.member.ajax.FindSms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindSms</servlet-name>
    <url-pattern>/FindSms</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindIdView</servlet-name>
    <servlet-class>net.member.ajax.FindIdView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindIdView</servlet-name>
    <url-pattern>/FindIdView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewPwSms</servlet-name>
    <servlet-class>net.member.ajax.NewPwSms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPwSms</servlet-name>
    <url-pattern>/NewPwSms</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewTxSms</servlet-name>
    <servlet-class>net.member.ajax.NewTxSms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTxSms</servlet-name>
    <url-pattern>/NewTxSms</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompanyFileDownload</servlet-name>
    <url-pattern>/CompanyFileDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompanyFileDownload</servlet-name>
    <servlet-class>net.filedownload.CompanyFileDownload</servlet-class>
  </servlet>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/mysql</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
    <welcome-file>main.htm</welcome-file>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>